.App {
  min-width: 100vw;
  min-height: 100vh;
  background: #c9d6da;
  padding: 0;
}
.posts {
  margin-right: 3rem;
  position: absolute;
  top: 30px;
  right: 0;
  z-index: 1;
}
.form {
  padding-top: 5%;
  padding-left: 10%;
}

@media screen and (max-width: 600px) {
  .posts {
    margin-right: 0;
    top: 60%;
    z-index: 1;
    padding-bottom: 10px;
    background: #c9d6da;
  }
  .form {
    margin-top: 20px;
    padding-top: 0;
    padding-left: 0;
  }
}
